.Main-Dashboard{
    background-image: linear-gradient(hsl(213, 19%, 18%),hsl(213, 19%, 18%));
    color : white;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-radius : 15px;
    width : 390px;
}

.Main-Dashboard p{
    line-height: 1.65rem;
    font-weight: 15px;
}

.Main-Dashboard h1, .Main-Dashboard p{
    margin : 1.25rem;
}

.Main-Dashboard .Rating-Links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 1.5rem;
}

.Main-Dashboard .Rating-Links .Rating-Value{
    background-color : hsla(221, 13%, 28%, 0.463);
    border-radius : 100%;
    padding : .85rem 1.25rem;
    border : none;
}

.Main-Dashboard .Submit-Btn{
    text-decoration: none;
    display: block;
    color : #fff;
    background-color : hsl(25, 97%, 53%);
    text-align : center;
    margin : 1rem;
    border-radius : 25px;
    padding : .7rem 0rem;
    letter-spacing: .25rem;
    font-size : .75rem;
    font-weight: 700;
}

