.Main-Dashboard, .Result-Dashboard{
    background-image: linear-gradient(hsl(213, 19%, 18%),hsl(213, 19%, 18%));
    color : white;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-radius : 15px;
    width : 390px;
}

.Vanish-Dashboard{
    display: none;
}

.Main-Dashboard p, .Result-Dashboard p{
    line-height: 1.65rem;
    font-weight: 15px;
}

.Main-Dashboard h1, .Main-Dashboard p, .Result-Dashboard h1, .Result-Dashboard p{
    margin : 1.25rem;
}

.Result-Dashboard p{
    color :hsl(217, 12%, 63%);
    line-height: 1.5rem;
}

.Result-Dashboard h1, .Result-Dashboard p{ text-align:  center;}

.Result-Dashboard .selectRating{
    background-color: hsl(217, 10%, 26%);
    display: inline-block;
    margin-left : 0rem;
    margin-bottom : 0rem;
    position: relative;
    left : 50%;
    transform: translateX(-50%);
    padding : .6rem 1.35rem;
    border-radius: 25px;
    font-size : .85rem;
    color : hsl(25, 97%, 53%);
}

.Main-Dashboard .Rating-Links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 1.5rem;
}

.Main-Dashboard .Rating-Links .Rating-Value{
    background-color : hsla(221, 13%, 28%, 0.463);
    border-radius : 100%;
    padding : .85rem 1.25rem;
    border : none;
}

.Main-Dashboard .Rating-Links .Rating-Value:hover{
    cursor: pointer;
    background-color: hsl(217, 12%, 63%);
}

.Main-Dashboard .Submit-Btn{
    text-decoration: none;
    display: block;
    color : #fff;
    background-color : hsl(25, 97%, 53%);
    text-align : center;
    margin : 1rem;
    border-radius : 25px;
    padding : .7rem 0rem;
    letter-spacing: .25rem;
    font-size : .75rem;
    font-weight: 700;
}

.Main-Dashboard .Submit-Btn:hover{
    background-color: #fff;
    color : hsl(25, 97%, 53%);
}

.Circle{
    height : 30px;
    width : 30px;
    background-color : hsl(216, 12%, 8%);
    border-radius: 50px;
    position: absolute;
    top : 25px;
    transform: translateX(58%);
}


