@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Outfit:wght@300;400;600&display=swap');

*,*::before,*::after{
  margin : 0rem;
  padding : 0rem;
  box-sizing : border-box;
}

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : hsl(216, 12%, 8%);
}
